@using Parcel.Models;

<h1>Items</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
} 

@foreach (ParcelVariable parcel in Model)
{
  <h1>@parcel.Note</h1>
  
  <p>@Html.ActionLink("Edit Parcel", "Edit", new {id = parcel.ID})</p>

  <p>@Html.ActionLink("Delete Parcel", "Delete", new { id = parcel.ID })</p>
}


<p>@Html.ActionLink("Add new Parcel", "Create", "Parcels")</p>