<h1> Parcel Details</h1>
<h2> @Model.Note</h2>
<h2> sideA = @Model.SideA</h2>
<h2> sideB = @Model.SideB</h2>
<h2> sideC = @Model.SideC</h2>
<h2> weight = @Model.Weight</h2>


<a href='/parcels/new'>Add another item</a>
<a href='/parcels'>View all items</a>